<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
    
    <div class="col-md-3">
      <h2>User info</h2>
      
      
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "100x100", class: "attachment user profile_image" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "100x100", class: "attachment user profile_image" %>
      <% end %>

      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      
      <div class="row mb-3">
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i> プロフィール編集
        <% end %>
      </div>

      <h2 class="mt-3">New book</h2>
      <%= form_with model: @new_book, local: true do |form| %>
       <div class="mb-3">
          <%= form.label :title, "Title", class: "form-label" %>
          <%= form.text_field :title, class: "form-control" %> <!-- 💡 required: true を消す -->
        </div>
        <div class="mb-3">
          <%= form.label :body, "Opinion", class: "form-label" %>
          <%= form.text_area :body, class: "form-control" %>  <!-- 💡 required: true を消す -->
        </div>
        <div>
          <%= form.submit "Create Book", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <% if @user.profile_image.attached? %>
                  <%= image_tag @user.profile_image, size: "40x40" %><br>
                <% else %>
                  <%= image_tag "no_image.jpg", size: "40x40" %><br>
                <% end %>
                <%= @user.name %>
              <% end %>
            </td>
            
            <td><%= link_to @book.title, book_path(@book) %></td>
            
            <td><%= @book.body %></td>
            <% if @book.user == Current.user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>